<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="837a77">  <td>17/04/19 15:19:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ConsumoDetalhado_ExtratoPre.beforeClass()[pri:0, instance:Test.ConsumoDetalhado_ExtratoPre@2898ac89]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1431467659</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>17/04/19 15:19:09</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumoDetalhado_ExtratoPre.Validar_Login()[pri:0, instance:Test.ConsumoDetalhado_ExtratoPre@2898ac89]">Validar_Login</td> 
  <td>main@1431467659</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>17/04/19 15:20:16</td>   <td>66552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumoDetalhado_ExtratoPre.Validar_Consumo_Detalhado()[pri:0, instance:Test.ConsumoDetalhado_ExtratoPre@2898ac89]">Validar_Consumo_Detalhado</td> 
  <td>main@1431467659</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>17/04/19 15:20:50</td>   <td>100376</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumoDetalhado_ExtratoPre.afterClass()[pri:0, instance:Test.ConsumoDetalhado_ExtratoPre@2898ac89]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1431467659</td>   <td></td> </tr>
</table>
